.course-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
  width: 300px;
  height: 250px;
}